/* Styles Généraux */
.title-details {
    text-align: end;
}

/* Styles du Conteneur Principal */
.sensor-container {
    display: flex;
    border: 1px solid black;
    padding: 10px;
}

/* Styles de l'Image du Capteur */
.sensor-image {
    max-width: 164px;
    max-height: 164px;
    width: auto;
    height: auto;
    flex: 1;
}

/* Styles des Détails du Capteur */
.sensor-details {
    flex: 2;
    margin-left: 20px;
}

/* Media Queries */

/* Pour les écrans jusqu'à 768px */
@media screen and (max-width: 768px) {
    .sensor-container {
        flex-direction: column;
    }

    .sensor-image, .sensor-details {
        width: 100%;
        max-width: none;
        max-height: none;
        margin-left: 0;
        margin-top: 20px;
    }
}

/* Pour les écrans jusqu'à 600px */
@media screen and (max-width: 600px) {
    .sensor-image, .sensor-details {
        flex-basis: 100%;
        margin-right: 0;
    }

    .sensor-header img {
        width: 50%; /* Ajustez la taille de l'icône selon vos besoins */
        max-width: 100px; /* Ajustez la taille maximale de l'icône */
    }
}

/* Style de base pour la modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(10, 10, 20, 0.9); /* Fond sombre semi-transparent */
}

/* Contenu de la modal */
.modal-content {
    background-color: #111; /* Fond sombre */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #28d;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    position: relative;
}

/* Effet néon pour le titre */
.modal-content h4 {
    text-align: center;
    color: #4df;
    text-shadow:
        0 0 7px #4df,
        0 0 10px #4df,
        0 0 21px #4df,
        0 0 42px #4df;
    font-size: 2em;
}

/* Style du message */
.modal-content p {
    color: #ccc;
    font-size: 1.2em;
}

/* Bouton personnalisé */
.modal-content .btn {
    background-color: #333;
    color: #4df;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow:
        0 0 7px #4df,
        0 0 10px #4df;
    transition: background-color 0.3s ease;
}

.modal-content .btn:hover {
    background-color: #555;
}

/* Style pour le fond de la modal */
.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(20, 20, 40, 0.8), rgba(10, 10, 20, 0.9));
}
