/* Styles Généraux */
.title-details {
    text-align: end;
}

/* Styles du Conteneur Principal */
.sensor-container {
    display: flex;
    border: 1px solid black;
    padding: 10px;
}

/* Styles de l'Image du Capteur */
.sensor-image {
    max-width: 164px;
    max-height: 164px;
    width: auto;
    height: auto;
    flex: 1;
}

/* Styles des Détails du Capteur */
.sensor-details {
    flex: 2;
    margin-left: 20px;
}

/* Media Queries */

/* Pour les écrans jusqu'à 768px */
@media screen and (max-width: 768px) {
    .sensor-container {
        flex-direction: column;
    }

    .sensor-image, .sensor-details {
        width: 100%;
        max-width: none;
        max-height: none;
        margin-left: 0;
        margin-top: 20px;
    }
}

/* Pour les écrans jusqu'à 600px */
@media screen and (max-width: 600px) {
    .sensor-image, .sensor-details {
        flex-basis: 100%;
        margin-right: 0;
    }

    .sensor-header img {
        width: 50%; /* Ajustez la taille de l'icône selon vos besoins */
        max-width: 100px; /* Ajustez la taille maximale de l'icône */
    }
}
