<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'sensor_data/css/manage_sensor.css' %}">
        <script src="{% static 'sensor_data/js/manage_sensor.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/librarie.css' %}">
        <script src="{% static 'js/librarie.js' %}"></script>
        <title>Détails du Capteur</title>
    </head>
    <body>
        <div class="sensor-container frame">
            <img src="{% static 'sensor_data/images/capteur_temperature.png' %}" alt="Capteur" class="sensor-image">
            <div class="sensor-details">
                <form method="post" class="sensor-form">
                    {% csrf_token %}
                    <div class="input-group">
                        <label for="sensorName">Nom du Capteur:</label>
                        {{ form.name }}
                    </div>
                    <div class="input-group">
                        <label for="sensorType">Type de Capteur:</label>
                        {{ form.sensor_type }}
                    </div>
                    <div class="input-group">
                        <label for="sensorLocation">Emplacement:</label>
                        {{ form.location }}
                    </div>
                    <!-- Ajoutez plus de champs selon les besoins -->
                    <div class="form-actions">
                        {% if action == 'Add' %}
                            <button class="btn" type="submit">Ajouter le capteur</button>
                        {% else %}
                            <button class="btn" type="submit">Mettre à jour le capteur</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>