<html>
<head>
    <title>Liste des Capteurs</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div class="sensor-container">
        {% for sensor in sensors %}
            <div class="sensor-item" onclick="toggleDetails(this)">
                <img src="{% static 'images/temperature.png' %}" alt="Sensor Icon">
                <div class="sensor-details" style="display: none;">
                    <p>Nom: {{ sensor.name }}</p>
                    <p>Type: {{ sensor.sensor_type }}</p>
                    <p>Emplacement: {{ sensor.location }}</p>
                    <p>Actif: {{ sensor.is_active }}</p>
                    <!-- Ajoutez d'autres détails si nécessaire -->
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>